.background {
  background-image: url('../images/background2.jpg');
}

.container {
  height: 100vh;
  display: grid;
  position: relative;
}

/* .title {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  height: 500px;
} */

.portal, .title {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.title img {
  height: 200px;
}

.portal img{
  height: 500px;
}

@font-face {
  font-family: 'Get Schwifty';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
}
